:root {
    --bg: #15181d;
    --floating-item: #20232a;
    --line: #707680;
    --text: #f5f6f8;
    --blue: #2e63ff;
    --cyan: #35d4ff;
    --green: #4ee66b;
    --red: #ff384c;

    --header-height: 3rem;

    --desktop-menu-width: 22vw;
}

body {
    margin: 0;
    margin-top: var(--header-height);

    box-sizing: border-box;
    padding: 1rem;
    padding-bottom: 7rem;

    color: var(--text);
    background-color: var(--bg);
    font-family: Inter, Roboto, Arial, sans-serif;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    width: 100%;
    height: var(--header-height);

    z-index: 3;

    box-sizing: border-box;
    padding-left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #15181d;
    border-bottom: 1px solid #20242b;
}

.menu-button {
    flex-shrink: 0;
    height: 100%;
    width: auto;
    aspect-ratio: 1;

    background-image: url('../images/icons/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;

    border-right: 1px solid #20242b;
    
    cursor: pointer;
}

.status-wrapper {
    overflow: hidden;
    white-space: nowrap;

    width: 100%;
    
    font-size: 2rem;
    font-weight: bold;
}

.status-content {
    display: inline-block;
    animation: marquee 10s linear infinite;
}

.status-content span {
    display: inline-block;

    box-sizing: border-box;
    padding-right: 5rem;

    min-width: 100vw;
}

@keyframes marquee {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    10% {
        transform: translate3d(0%, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.menu-wrapper {
    position: fixed;
    top: 3rem;
    left: 0;

    z-index: 4;

    height: 100%;
    width: 100%;

    box-sizing: border-box;
    padding: 0;

    display: flex;
    flex-direction: column;

    background-color: var(--floating-item);
}

@media (max-width: 767px) {
    .menu-wrapper {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 0.5s, transform 0.5s;
    }

    .menu-wrapper.shown {
        opacity: 1;
        transform: translateX(0%);
    }
}

.banner {
    display: block;
    margin: 2rem auto;
    height: 6rem;
}

.menu__item {
    color: var(--text);
    text-decoration: none;

    box-sizing: border-box;
    padding: 0.75rem 1.25rem;

    font-weight: bold;
    font-size: 1.5rem;

    white-space: normal;
    word-break: break-word;
}

.menu__item.active {
    color: var(--green);
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;

    z-index: 3;

    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom, 0px));
}

@media (min-width: 768px) {
    html {
        font-size: 24px;
    }

    body {
        margin-left: var(--desktop-menu-width);
    }

    .status-content span {
        text-align: center;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .menu-button {
        display: none;
    }

    .menu-wrapper {
        width: var(--desktop-menu-width);
    }

    .banner {
        height: auto;
        width: 80%;
    }

    .footer {
        width: calc(100% - var(--desktop-menu-width));
    }
}