{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>map</title>
        <link rel="stylesheet" href="{% static 'css/map.css' %}">
    </head>
    <body>
        
        <div id="mapWrapper"
             data-map-image-width="{{ map_image_width }}"
             data-map-image-height="{{ map_image_height }}"
             data-map-ratio="{{ map_ratio }}"
             data-live-update-interval="{{ live_update_interval }}"
             data-history-period="{{ history_period }}"
             data-fetch-day-url="{% url 'main:api_day' date_str='PLACEHOLDER' %}"
             data-fetch-live-url="{% url 'main:api_live' last_time=0 %}">

            <img id="mapImage" src="{% static map_image_url %}">
        </div>
        <div id="bottomPanel">
            <input id="dayInput" type="date">
            <input id="timeInput" type="range" min="0" max="86399" step="1" value="0">
        </div>
    </body>
    <script src="{% static 'js/map.js' %}"></script>
</html>