{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>map</title>
        <style>
            #mapWrapper {
                position: relative;
                display: inline-block; 
            }

            #mapImage {
                max-width: 100%;
            }

            #mapWrapper > div {
                position: absolute;
                transform: translate(-50%, -50%);
                z-index: 1;
            }

            .map-small-marker {
                width: 7px;
                height: 7px;
                background-color: #ff0000;
            }

            .map-big-marker {
                z-index: 2;
                width: 14px;
                height: 14px;
                background-color: #ff0000;
            }

            #timeInput {
                width: 100%;
            }
        </style>
    </head>
    <body>
        
        <div id="mapWrapper">
            <img id="mapImage" src="{% static map_image_url %}">
        </div>
        <div id="bottomPanel">
            <input id="dayInput" type="date">
            <input id="timeInput" type="range" min="0" max="86399" step="1" value="0">
        </div>
    </body>
    <script>
        var mapImageWidth = {{ map_image_width }};
        var mapImageHeight = {{ map_image_height }};
        var mapRatio = {{ map_ratio }};
        var liveUpdateInterval = {{ live_update_interval }};
        var historyPeriod = {{ history_period }};

        var locations = [];
        var markers = [];
        var isLive = false;
        var liveTimerId = null;
    </script>
    <script>
        const mapWrapper = document.getElementById('mapWrapper');
        const dayInput = document.getElementById('dayInput');
        const timeInput = document.getElementById('timeInput');

        function GetSelectedDateTime() {
            const selectedDateTime = new Date(`${dayInput.value}T00:00`);
            selectedDateTime.setSeconds(selectedDateTime.getSeconds() + parseInt(timeInput.value))
            return selectedDateTime;
        }

        /* Markers drawing */
        
        function CreateMarker() {
            const newMarker = document.createElement('div');
            SetMarkerSmall(newMarker);
            mapWrapper.appendChild(newMarker);
            return newMarker;
        }

        function SetMarkerSmall(marker) {
            marker.classList.remove('map-big-marker');
            marker.classList.add('map-small-marker');
        }

        function SetMarkerBig(marker) {
            marker.classList.add('map-big-marker');
            marker.classList.remove('map-small-marker');
        }

        function SetMarkerPosition(markerElement, metersX, metersY) {
            const percentX = (metersX * mapRatio / mapImageWidth ) * 100;
            const percentY = (metersY * mapRatio / mapImageHeight) * 100;

            markerElement.style.left = percentX + '%';
            markerElement.style.top  = percentY + '%';
        }

        function DrawHistory() {
            const selectedTime = GetSelectedDateTime().getTime()/1000;

            markers.forEach(marker => {
                marker.element.remove();
            });
            markers = [];

            locations.forEach(loc => {
                if (selectedTime - historyPeriod <= loc.time && loc.time <= selectedTime) {
                    const marker = CreateMarker();
                    SetMarkerPosition(marker, loc.x, loc.y);
                    markers.push({
                        'element': marker,
                        'time': loc.time
                    });
                }
            });
            
            if (markers.length > 0)
                SetMarkerBig(markers[markers.length - 1].element);
        }

        function DrawLive(newLocations) {
            const selectedTime = GetSelectedDateTime().getTime()/1000;

            if (newLocations.length === 0)
                return;

            while (markers.length > 0 && markers[0].time < selectedTime - historyPeriod)
                markers.shift();

            if (markers.length > 0)
                SetMarkerSmall(markers[markers.length - 1].element);
            console.log(newLocations)
            newLocations.forEach(loc => {
                if (selectedTime - historyPeriod < loc.time) {
                    console.log('yes')
                    const marker = CreateMarker();
                    SetMarkerPosition(marker, loc.x, loc.y);
                    markers.push({
                        'element': marker,
                        'time': loc.time
                    });
                }
            });

            if (markers.length > 0)
                SetMarkerBig(markers[markers.length - 1].element);
        }

        /* API requests */

        async function FetchDay() {
            const fetchUrlTemplate = "{% url 'main:api_day' date_str='PLACEHOLDER' %}";
            const response = await fetch(
                fetchUrlTemplate.replace('PLACEHOLDER', dayInput.value)
            );

            if (!response.ok) {
                alert('Не удалось загрузить день');
                locations = [];
                return;
            }

            data = await response.json();

            if (!isLive)
                locations = data;
        }

        async function FetchLiveUpdates() {
            const lastTime = (locations.length > 0) ? locations[locations.length-1].time : 0;

            const fetchUrlTemplate = "{% url 'main:api_live' last_time=0 %}";
            const response = await fetch(
                fetchUrlTemplate.replace('0', lastTime)
            );
            
            if (!response.ok) {
                alert('Не удалось загрузить лайв данные');
                return;
            }

            data = await response.json();
            
            if (isLive) {
                DrawLive(data);
                locations = locations.concat(data);
            }

        }
        
        /* Live mode */

        function ResetDayInput() {
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');
            const day = String(now.getDate()).padStart(2, '0');
            
            dayInput.value = `${year}-${month}-${day}`;
        }

        function ResetTimeInput() {
            const now = new Date();
            timeInput.value = now.getHours()*60*60 + now.getMinutes()*60 + now.getSeconds();
        }

        async function CheckLiveUpdates() {
            ResetDayInput();
            ResetTimeInput();
            await FetchLiveUpdates();
        }

        async function StartLiveTimer() {
            if (liveTimerId === null)
                liveTimerId = setInterval(CheckLiveUpdates, liveUpdateInterval*1000);
            await CheckLiveUpdates();
        }

        function StopLiveTimer() {
            clearInterval(liveTimerId);
        }

        async function EnableLiveMode() {
            ResetDayInput();
            ResetTimeInput();
            isLive = true;
            StartLiveTimer();
        }

        function DisableLiveMode() {
            isLive = false;
            StopLiveTimer();
            liveTimerId = null;
        }

        async function onVisibilityChange() {
            if (isLive) {
                if (document.hidden) StopLiveTimer();
                else StartLiveTimer();
            }
        }

        /* Inputs */

        async function onDayInputChange() {
            const dayStr = dayInput.value;
            if (!dayStr) {
                alert('Неверная дата')
                return;
            }

            const selectedDay = new Date(dayStr);
            const today = new Date();
            today.setHours(0, 0, 0, 0);

            if (selectedDay.getTime() >= today.getTime()) {
                await EnableLiveMode();
                return;
            }

            if (isLive) DisableLiveMode();

            await FetchDay();
            await onTimeInputChange();
        }

        async function onTimeInputChange() {
            if (GetSelectedDateTime().getTime() >= (new Date()).getTime()) {
                await EnableLiveMode();
                return;
            }
            if (isLive) DisableLiveMode();

            DrawHistory();
        }

        dayInput.addEventListener('change', onDayInputChange);
        timeInput.addEventListener('change', onTimeInputChange);
        document.addEventListener('visibilitychange', onVisibilityChange);

        EnableLiveMode();

        
    </script>
</html>