{% extends "base.html" %}
{% load static %}

{% block title %}Карта{% endblock title %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}?v={{version}}">
{% endblock extra_styles %}

{% block content %}
    <div class="map-section">
        <div id="map" class="map"
            data-live-update-interval="{{ live_update_interval }}"
            data-map-marker-capacity="{{ map_marker_capacity }}"
            data-fetch-day-url="{% url 'main:api_day' date_str='PLACEHOLDER' %}"
            data-fetch-live-url="{% url 'main:api_live' last_time=0 %}">

            <img class="map__image" src="{% static map_image_url %}?v={{version}}">
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <div id="calendar" class="calendar-button floating-item">
        <input id="calendarInput" type="date" style="visibility: hidden; width: 0; height: 0;">
    </div>

    <div id="calendarOutput" class="date-info floating-item"></div>

    <div id="timeline" class="timeline">
        <div id="timelineTrack" class="timeline__track floating-item">
            <div id="timelineFill" class="timeline__fill"></div>
            <div id="timelineThumb" class="timeline__thumb floating-item"></div>
        </div>
    </div>
{% endblock footer %}

{% block extra_scripts %}
    <script src="{% static 'js/map.js' %}?v={{version}}"></script>
{% endblock extra_scripts %}