# Used for nginx server name, certbot certificate domains and django allowed hosts
# example: HOSTS=localhost 127.0.0.1
HOSTS=

NGINX_PORT=

MAIN_CERTIFICATE_DOMAIN=
CERTBOT_USER_EMAIL=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

DEBUG=
SECRET_KEY=
DJANGO_APP_PORT=
GUNICORN_WORKERS=
STATIC_URL=