IP_ADDRESS=""

# List of domains for certbot separated by space
DOMAINS=""
MAIN_CERTIFICATE_DOMAIN=""
CERTBOT_USER_EMAIL=""

DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_PORT=

DEBUG=
SECRET_KEY=""
DJANGO_APP_PORT=
GUNICORN_WORKERS=
STATIC_URL=""